<!DOCTYPE html>
<html lang="en">
<head>
    {{> header}}
</head>
<body>
    <div class="mx-auto">
        {{> navbar }}

        <div class="profile bg-white w-5/6 mx-auto lg:w-1/2 shadow-2xl rounded-l-2xl rounded-r-2xl pb-72 md:w-1/2 mt-20"> 
            <form action="/profile-edit" method="POST" class="mt-15 p-15 relative top-7">
                <div class="registerImg absolute -top-2 right-0 bottom-0 left-0 mx-auto w-36 h-36 mt-5 rounded-full cursor-pointer
                            md:mt-16
                            md:-top-14
                            md:w-40
                            md:h-40
                            md:-top-10
                            lg:mx-auto
                            lg:w-40
                            lg:-top-14
                            lg:h-40"
                        style="
                            background: url(uploads/users/{{profilePicture}}) center;
                            background-size: cover;
                        " id="imge"></div>
                    <label class="changePhotoLabel absolute top-0 right-0 bottom-0 left-0 mx-auto cursor-pointer bg-black rounded-full top-3 bg-opacity-50 
                            md:p-20
                            md:top-2
                            md:text-center
                            lg:top-2
                            lg:top-0 
                            lg:right-0 
                            lg:bottom-0 
                            lg:left-0 
                            lg:mx-auto
                            lg:bg-black 
                            lg:bg-opacity-50 
                            lg:rounded-full"
                        style="
                            width: 145px;
                            height: 145px;
                        ">

                        <input type="file" id="photoInput">
                        <div class="text-center relative top-7 
                                md:-top-10
                                md:-left-6">
                            <i class="fas fa-plus text-6xl text-white"></i>
                            <h1 class="text-white font-bold mt-2 text-xl md:text-2xl">Foto</h1>
                        </div>
                    </label>

                    <input type="text" name="profileName" placeholder="{{displayName}}" value="{{displayName}}" class="pl-3 py-2 relative text-center top-52 font-bold text-xl flex mx-auto focus:outline-none border-b-2 border-black">
                    <input type="hidden" name="username" value="{{username}}" />
                    {{#if profilePicture}}
                    <input type="hidden" name="profilePicture" id="img" value="{{profilePicture}}" />
                    {{else}}
                    <input type="hidden" name="profilePicture" id="img" value="unknownUser.png" />
                    {{/if}}
                    <button type="submit" class="flex relative top-52 mx-auto mt-10 bg-blue-500 text-2xl px-10 py-2 text-white font-bold rounded-l-xl rounded-r-xl hover:bg-blue-700 transition duration-500 border-b-2 border-blue-800 shadow-2xl">Listo</button>
                </form>
                <button class="flex relative top-60 mx-auto mt-5 bg-red-500 text-2xl px-5 py-2 text-white font-bold rounded-l-xl rounded-r-xl hover:bg-red-700 transition duration-500 border-b-2 border-red-800 shadow-2xl"><a href="profile">Cancelar</a></button>
            </div>    
        </div>

    {{> footer}}
    {{> sweetAlert}}

    <script>
        const registerImg = document.querySelector('.registerImg');
        const input = document.querySelector('#photoInput');
        const productImg = document.querySelector('#img');

        input.addEventListener('input', async(e) => {
            if(e.target.files && e.target.files.length > 0) {
                const data = new FormData();
                data.append('productImg', e.target.files[0]);

                const upload = await fetch('{{ uploadImgPath }}', {
                    method: 'POST',
                    body: data
                });

                const response = await upload.json();
                registerImg.style.background = `url(uploads/users/${response.result}) center`;
                registerImg.style.backgroundSize = `cover`;
                productImg.value = response.result;
            }
        });
    </script>
</body>
</html>