<!DOCTYPE html>
<html lang="en">
<head>
    {{> header}}
</head>
<body>
    <div class="mx-auto">
        {{> navbar }}

        <div class="profile bg-white w-5/6 mx-auto lg:w-1/2 shadow-2xl rounded-l-2xl rounded-r-2xl h-full md:w-1/2 mt-20 pb-10">
            <div class="mt-15 p-15 relative top-7">
                <div class="w-40 h-40 lg:w-32 lg:h-32 mx-auto mb-3 py-5 rounded-full" style="background: url(uploads/users/{{profilePicture}}) center; background-size: cover;"></div>
                <h1 class="text-center font-bold text-4xl">{{ displayName }}</h1>
                <button class="flex mx-auto mt-5 bg-blue-500 text-2xl px-5 py-2 text-white font-bold rounded-l-xl rounded-r-xl hover:bg-blue-700 transition duration-500 border-b-2 border-blue-800"><a href="users/create-gift">Crear Regalo</a></button>
                <button class="flex mx-auto mt-5 mb-5 bg-yellow-500 text-2xl px-5 py-2 text-white font-bold rounded-l-xl rounded-r-xl hover:bg-yellow-700 transition duration-500 border-b-2 border-yellow-800"><a href="profile-edit">Editar perfil</a></button>
            </div>
        </div>

        <div class="lg:flex-wrap mx-auto lg:flex w-4/5 mt-16 md:flex md:flex-wrap md:content-between md:justify-center">
            
            {{#each rows}}
            <div class="mt-14 mb-20 lg:mx-10 pb-16 lg:pb-8 bg-white w-full lg:w-96 md:w-72 md:mx-3 relative rounded-l-3xl rounded-r-3xl border-b-4 border-t-4 border-red-500 shadow-2xl" data-aos="fade-up" data-aos-duration="1100">
                <div class="w-36 h-36 mx-auto pt-8 mt-5 mb-5 rounded-full" style="background: url(/uploads/gifts/{{giftPicture}}) center; background-size: cover;"></div>
                <img src="/assets/img/ornaments.png" class="absolute w-20 -top-5 -left-4">
                <h1 class="text-center text-2xl ml-5 mr-5 lg:ml-7 lg:mr-7 font-bold mb-7">{{giftName}}</h1>

                <button class="flex mx-auto bg-yellow-400 text-white font-bold text-xl px-5 py-2 rounded-l-2xl rounded-r-2xl border-b-4 border-yellow-600 hover:bg-yellow-600 transition duration 500"><a href="users/{{username}}/edit-gift/{{giftID}}" style="width: 80px;">Editar</a></button>

                <button class="flex mx-auto bg-red-500 text-white font-bold text-xl px-5 py-2 rounded-l-2xl rounded-r-2xl border-b-4 border-red-600 hover:bg-red-700 transition duration 500 mt-5"><a href="users/delete-gift/{{giftID}}">Eliminar</a></button>
            </div>
            {{/each}}
        </div>
    </div>

    {{> footer}}
    {{> sweetAlert}}
</body>
</html>