<!DOCTYPE html>
<html lang="en">
<head>
    {{> header parenting="../../"}}
</head>
<body>
    <div class="mx-auto">
        {{> navbar}}

        <div class="info bg-white w-11/12 mx-auto my-20 rounded-l-3xl rounded-r-3xl shadow-lg relative border-b-8 border-t-4 border-red-500 relative lg:w-3/6 md:w-3/4" data-aos="fade-up" data-aos-duration="1100">
            <img src="/assets/img/ornaments.png" class="w-24 absolute -top-7 -left-3" data-aos="zoom-in" data-aos-duration="1000">
            <h1 class="font-bold text-2xl text-center mt-16 mb-2" data-aos="fade-up" data-aos-duration="1800">Nombre del producto</h1>
            <h2 class="font-bold text-lg text-center ml-5 mr-5 mb-10" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="1000">{{giftName}}</h2>
            <h1 class="font-bold text-2xl text-center mt-3 mb-2" data-aos="fade-up" data-aos-duration="1800">Descripcion del producto</h1>
            <h2 class="font-bold text-lg text-center ml-5 mr-5 mb-10" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="1000">{{giftDesc}}</h2>
            <h1 class="font-bold text-2xl text-center mt-3 mb-5" data-aos="fade-up" data-aos-duration="1500">Foto del producto</h1>
            <a href="/uploads/gifts/{{giftImg}}"><img src="/uploads/gifts/{{giftImg}}" class="w-20 mx-auto mt-10" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="600"></a>
            <button class="mb-10 flex mx-auto">
                {{#if isMine}}
                <a href="/profile" class="bg-yellow-400 font-bold text-2xl text-white px-8 p-3 mt-16 rounded-r-2xl rounded-l-2xl hover:bg-yellow-600 border-b-4 border-yellow-600 transition duration-500" >Atras</a>
                {{/if}}
                {{#unless isMine}}
                <a href="/users/{{username}}" class="bg-yellow-400 font-bold text-2xl text-white px-8 p-3 mt-16 rounded-r-2xl rounded-l-2xl hover:bg-yellow-600 border-b-4 border-yellow-600 transition duration-500" >Atras</a>
                {{/unless}}
            </button>
        </div>
    </div>

    {{> footer}}
</body>
</html>